body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ffffff;
}

.box{
	height: 580px;
	width: 1500px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	
}

.box h3{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 500;
}


.box h6{
    color: rgb(0, 0, 0);
    font-weight: 100;
	padding-bottom: 10px;
}


.box textarea{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
	height:100px;
	max-width:100%;
  resize:none;
}


.box textarea:focus{
    width: 350px;
    border-color: #2ecc71;
    color: rgb(0, 0, 0);
}